name: build
on:
  workflow_dispatch:

jobs:
  package:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: evilpenguin/SSLBypass

      - name: Install Theos（已打包 SDK，绕过墙）
        run: |
          curl -L -o theos.tar.zst https://github.com/theos/theos/releases/download/3.0.0/theos-3.0.0-macos.tar.zst
          sudo tar -I zstd -xf theos.tar.zst -C /opt
          echo "THEOS=/opt/theos" >> $GITHUB_ENV

      - name: Build deb
        run: |
          export THEOS=/opt/theos
          make package FINALPACKAGE=1

      - name: Upload deb
        uses: actions/upload-artifact@v4
        with:
          name: deb
          path: packages/*.deb
